server {
    listen       80;
    server_name  test.com;
    root   /usr/share/nginx/html;
    autoindex on;
    index   index index.html index.htm;
    #charset koi8-r;
    
    # access_log /dev/null;
    access_log  /var/log/nginx/nginx.access.log  main;
    error_log  /var/log/nginx/nginx.error.log  warn;
    
    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    # location ~ \.php$ {
    #     fastcgi_pass   php56:9000;
    #     include        fastcgi-php.conf;
    #     include        fastcgi_params;
    # }

    # thinkPHP URL 重写及 二级目录配置
    # location / {
    #     try_files $uri $uri/ /index.php?$query_string;
    #     index index.html index.htm index.php;
    #     if (!-e $request_filename) {
              # 二级目录URL重写
    #         rewrite ^/fjnu/public/(.*)$ /fjnu/public/index.php?s=$1 last;
              # 一级目录 URL 重写
    #         rewrite ^/index.php(.*)$ /index.php?s=$1 last;
              # 重写所有
    #         rewrite ^(.*)$ /index.php?s=$1 last;
    #         break;
    #     }
    # }

    ## certbot ssl
    # location ^~ /.well-known/acme-challenge/ {
    #     default_type "text/plain";
    #     root     /www;
    # }

    # location = /.well-known/acme-challenge/ {
    #     return 404;
    # }
    ## certbot ssl

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    location ~ /\.ht {
       deny  all;
    }
}

# server {
#     listen 443  default ssl http2;
#     server_name  localhost;
#     root   /www;
#     index  index.php index.html index.htm;
#     charset koi8-r;

#     access_log /dev/null;
#     access_log  /var/log/nginx/nginx.localhost.access.log  main;
#     error_log  /var/log/nginx/nginx.localhost.error.log  warn;

#     error_page  404              /404.html;

    ##certbot ssl
    # ssl_certificate /etc/letsencrypt/live/your.domain.com/fullchain.pem;
    # ssl_certificate_key /etc/letsencrypt/live/your.domain.com/privkey.pem;
    # ssl_trusted_certificate /etc/letsencrypt/live/your.domain.com/chain.pem;
    ##certbot ssl

#     ssl_certificate /ssl/localhost/localhost.crt;
#     ssl_certificate_key /ssl/localhost/localhost.key;

#     redirect server error pages to the static page /50x.html
    
#     error_page   500 502 503 504  /50x.html;
#     location = /50x.html {
#         root   /usr/share/nginx/html;
#     }

#     proxy the PHP scripts to Apache listening on 127.0.0.1:80
    
#     location ~ \.php$ {
#        proxy_pass   http://127.0.0.1;
#     }

#     pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    
#     location ~ \.php$ {
#         fastcgi_pass   php:9000;
#         include        fastcgi-php.conf;
#         include        fastcgi_params;
#     }

# certbot ssl
    # location ^~ /.well-known/acme-challenge/ {
    #     default_type "text/plain";
    #     root     /www;
    # }

    # location = /.well-known/acme-challenge/ {
    #     return 404;
    # }
# certbot ssl

#     deny access to .htaccess files, if Apache's document root
#     concurs with nginx's one
    
#     location ~ /\.ht {
#        deny  all;
#     }
# }

